@import '../../styles/variables.scss';

.summary {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: $color-black-opacity;
    display: flex;
    flex-direction: column;
    padding: sizeUnit(5, px);

    button {
        align-self: self-end;
    }
}

@media (min-width: $tablet) {
    .summary {
        display: none;
    }
}