@import '../../styles/variables.scss';

.card {
    display: flex;
    width: auto;
    flex-direction: column;
    margin-top: sizeUnit(3, px);

    &__image {
        width: 100%;
        height: 100%;
        max-height: sizeUnit(20, px);
        object-fit: cover;
        opacity: 0.6;
    }

    &__content {
        padding: sizeUnit(2, px)
    }

    &__title {
        @include fontSize(1.3);
        font-family: $semiBold;
        margin-bottom: sizeUnit(1, px);
    }

    &__text {
        margin-left: sizeUnit(1, px);
        font-family: $regular;
    }
}

@media (min-width: $tablet) {
    .card {
        max-width: sizeUnit(40, px)
    }
}