@import '../../styles/variables.scss';

.container {
    position: relative;
    height: 100vh;
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    justify-content: flex-end;
    align-items: center;

    &--item {
        padding: sizeUnit(5, px);
        justify-content: space-between;
    }
}