@import '../../styles/variables.scss';

.input {
    margin-bottom: sizeUnit(4, px);
    display: flex;
    flex-direction: column;

    &__input {
        height: sizeUnit(4, px);
        text-transform: capitalize;
        padding: sizeUnit(0, px) sizeUnit(2, px);
        max-width: sizeUnit(25, px);
        width: -webkit-fill-available;
        font-family: $regular;

        &___checkbox {
            margin-right: sizeUnit(3, px);
        }
    }

    &__label {
        display: block;
        margin-bottom: sizeUnit(1, px);
        color: $color-second;

        &___checkbox {
            margin: sizeUnit(2, px) 0 0 0;
            cursor: pointer;
            width: fit-content;
        }
    }

    &__error {
        color: $color-error;
    }
}